{% extends "app/layout.html" %}

{% block content %}

<div class = "text-center">
</br>
    <h2 style = "text-align: center;">Purchase Requisition Form {{formID}}</h2></br>
    <h3 style = "text-align: center;">Thank you!</h3></br>
    <i class="fa fa-check" style = "font-size: 36px;"></i>
    <h3 style = "text-align: center;">The Purchase Requisition status has been updated successfully</h3></br>


    <form class="text-center margintop" action='approvePR' method='POST'> 
        {% csrf_token %}
        <button type="submit" class="btn btn-success">OK</button><br />

</div>
    {% endblock %}